In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# 用range快速生成list

In [4]:
list(range(1,11,2))

[1, 3, 5, 7, 9]

In [5]:
list("ABCDEF")

['A', 'B', 'C', 'D', 'E', 'F']

In [6]:
[x**2 for x in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# 'for'迴圈

In [8]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [10]:
s=0
for i in range(1,101):
    s=s+i
print(s)

5050

# list.append(加入你要放入list的物)

In [11]:
price=[567,823,3832]

In [12]:
c=34.1415677

In [36]:
L=[]

In [37]:
for p in price:
    twd=(p*c)
    L.append(twd)

In [38]:
L

[19358.2688859, 28098.510217100004, 130830.48742640001]

# 字串分割

In [41]:
spam=input("輸入你要買的東西價格>>>")

輸入你要買的東西價格>>>9382379,93824,873465

In [42]:
spam

'9382379,93824,873465'

In [43]:
data=spam.split(",")

In [44]:
data

['9382379', '93824', '873465']

In [46]:
dollar=input("How much is it?>>>")

How much is it?>>>982734,209384,982374

In [49]:
x=dollar.split(",")

In [53]:
x

['982734', '209384', '982374']

In [64]:
P=[]

In [65]:
for b in (x):
    b=float(b)*34.41
    P.append(b)
    print(P)

[33815876.94]
[33815876.94, 7204903.4399999995]
[33815876.94, 7204903.4399999995, 33803489.339999996]

# ▴若print放在for迴圈中，結果會堆成金字塔，只要一次的話就獨立出來即可！

In [67]:
def exchange(p):
    p=float(p)
    return p*c

In [68]:
exchange("382")

13042.078861400001

# MAP

## map(f.L)

## 把f這函數作用到L list中每一個元素

In [70]:
L="333 1024 344 559".split()

In [71]:
L

['333', '1024', '344', '559']

In [73]:
list(map(exchange,L))

[11369.142044100001, 34960.9653248, 11744.6992888, 19085.1363443]

# 緊急用的函數lambda

In [74]:
def f(x):
    return x**2

In [75]:
f(4)

16

In [76]:
g=lambda x:x**2

In [77]:
g(3)

9

In [78]:
L

['333', '1024', '344', '559']

In [82]:
list(map(lambda p:float(p)*c,L))

[11369.142044100001, 34960.9653248, 11744.6992888, 19085.1363443]

# Give it a try

In [83]:
egg=[9,2,4,2]
list(map(lambda d:float(d)*2+1,egg))

[19.0, 5.0, 9.0, 5.0]

In [86]:
grades=[4,9,16,100]
list(map(lambda g:np.sqrt(g)*10,grades))

[20.0, 30.0, 40.0, 100.0]

# list comprehension

In [88]:
L

['333', '1024', '344', '559']

In [90]:
[float(s)*c for s in L]

[11369.142044100001, 34960.9653248, 11744.6992888, 19085.1363443]

# 合併list

In [91]:
L

['333', '1024', '344', '559']

In [92]:
s=""

for i in L:
    s=s+i

In [93]:
s

'3331024344559'

In [94]:
s=""

for i in L:
    s=s+i+","

In [95]:
s

'333,1024,344,559,'

# 去掉最右邊的逗點

In [96]:
s.rstrip(",")

'333,1024,344,559'

In [97]:
s

'333,1024,344,559,'

# ▴發現s其實只有改變一次，要永久改變就▾

In [98]:
s=s.rstrip(",")

In [99]:
s

'333,1024,344,559'

In [100]:
L

['333', '1024', '344', '559']

In [102]:
",".join(L)

'333,1024,344,559'

In [104]:
cheese=[4,2,5,23,1]

In [105]:
cheese.sort()

In [106]:
cheese

[1, 2, 4, 5, 23]

# 字串反轉

In [107]:
candy="今天天氣很好"

In [108]:
candy[3]

'氣'

In [110]:
candy[::-1]

'好很氣天天今'

In [111]:
from ipywidgets import interact

In [ ]:
def